.CharacterImage {
  height: 250px;
  width: 80%;
  padding: 5% 10%;
  object-position: top;
  object-fit: none;
}

.CharacterCardRect,
.CharacterCardRect-Alt {
  position: relative;
  margin-left: 20%;
  margin-top: -47px;
  height: 35px;
  width: 60%;
  background-color: #7b2828;
  color: white;
  font-size: 22px;
  text-align: center;
  padding-top: 3%;
  z-index: 10;
  box-shadow: 3px 3px 5px #373535;
}

.CharacterCardRect-Alt {
  background-color: #575757;
}

.CharacterDescriptionCard,
.CharacterDescriptionCard-Alt {
  position: relative;
  width: 90%;
  margin-top: -40px;
  background-color: #575757;
  color: white;
  font-size: 15px;
  text-align: left;
  padding: 10% 5% 5% 5%;
}

.CharacterDescriptionCard-Alt {
  background-color: #7b2828;
}
